body {
	background-color: #ababab;
	opacity: 0.9;
}

#banner {
	background-image: url("./Images/persona.PNG");
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 100%;
}

h1{
	font-family: Arial;
	text-align: center;
	border: 1px solid black;
    padding-bottom: 5px;
    position: relative;
    border-radius: 8%;
    margin: auto 650px;
}

.navconfig {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.navbar {
  background-color: #333;
   margin: 0;
  margin-left: -8px;
  padding: 0;
  float:left;
  font-family: Comic Sans MS;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.joke {
	color: white;
	position: absolute;
	border: solid white;
	border-width: 5px;
	border-radius: 10px;
	margin: 150px 500px auto 250px;
}

.joke2 {
	font-size: 32px;
	color: white;
}

a:link {
	color:white;
	text-decoration: none;
}
a:visited {
	color:white;
	text-decoration: none;
}
a:hover {
	color:white;
	text-decoration: none;
}
a:active {
	color:white;
	text-decoration: none;
}

#wip {
	font-size: 60px;
	text-align: center;
}

.mySlides{
  position: absolute;
  opacity: 0;
  width: 100%;}

.mySlides.active{
  position: static;
  opacity: 1;
  width: 100%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 0;
  padding-bottom: -5px;
  height: 562px;
}

.container {
	  border: 5px solid white;
	  overflow: hidden;
	  padding: 0;
}

.slideshow-container:hover {
	opacity: 0.7;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Dash;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  left: 50%;
  position: static;
}

.active {
  background-color: #717171;
}

p {
	text-align: center;
	font-family: Arial;
	font-size: 16px;
	margin: auto 200px;
 }

span {
	font-weight: bold;
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	margin: auto;
	
}

#Lorem {
	text-align: center;
}

.grid-container {
	display: grid;
  grid-template-columns: 0.7fr 1.4fr 0.7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "Header Header Header" "Left Main Right" "Left Main Right" "Left Main Right" "Left Footer Right";
  width: 100vw;
  height: 100%;
  margin-top: -8px;
  margin-left: -8px;
}

 .grid-container > div {
  text-align: center;
  padding: 0;
  font-size: 30px;
  width: 100%;
  background-color: #ababab;
  opacity: 0.9;
} 

.Main { 
  grid-area: Main; 
  margin-top: -228px;
}

.Left { 
  grid-area: Left;
  width: 400px;
  overflow: hidden;
  margin-top: -228px;
  height: 200%;
  background-image: url("./Images/shibuya.JPG");
  background-repeat: repeat-y;
 }

.Right { 
  grid-area: Right;
  width: 400px;
  overflow: hidden;
  margin-top: -228px;
  background-image: url("./Images/shibuya.JPG");
  background-repeat: repeat-y;
}

.Header { 
  grid-area: Header;
  height: 400px;
}

.Footer {
  grid-area: Footer; 
}